<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sanxiongdi.stopcar">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />


    <!-- required为true表示必须设备支持蓝牙低功耗才能运行，如果不要求可以设置为false -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <!-- BRTSDK需要的权限. -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- BRTSDK服务 -->

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CALL" />
    <!--  百度语音合成 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:icon,android:theme">

        <activity
            android:name="com.sanxiongdi.stopcar.activity.IndexActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.brtbeacon.sdk.BleService"
            android:enabled="true" />


        <!--  扫描测试  -->
        <activity
            android:name="com.sanxiongdi.stopcar.activity.ScanActivity"
            android:enabled="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--  首页  -->
        <activity
            android:name="com.sanxiongdi.stopcar.MainActivity"
            android:enabled="true"

            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!---->
        <activity
            android:name="com.sanxiongdi.stopcar.activity.OrderActivity"
            android:enabled="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--  用户修改界面  -->
        <activity
        android:name="com.sanxiongdi.stopcar.activity.mine.UserMineSeting"
        android:enabled="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--  车辆修改界面  -->
        <activity
            android:name="com.sanxiongdi.stopcar.activity.mine.CarInfoActivity"
            android:enabled="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!--  问题反馈  -->
        <activity
            android:name="com.sanxiongdi.stopcar.activity.setting.HelpInfoActivity"
            android:enabled="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--    -->
        <!--    -->


    </application>


</manifest>